.test {
margin-top: 8%;
margin-bottom:3%;
font-size: 30px;
color:rgb(0, 0, 0);
font-family: 'Nunito Sans', sans-serif;
font-weight:semi-bold;
}

.logo{
    margin-top: 20%;
    width:198px;
height: 151px;
}

