.test {
margin-top: 8%;
margin-bottom:3%;
font-size: 30px;
color:rgb(0, 0, 0);
font-family: 'Nunito Sans', sans-serif;
font-weight:semi-bold;
}

.logo{
    margin-top: 5%;
    width:198px;
height: 151px;
}

.board {
     margin-top: 10%;
     border: 1px solid rgb(143, 174, 231);
     border-radius:15px;
    //  background-color:rgb(199, 214, 243)
}