$containerBlue:rgb(98, 189, 222);

#allContainers{
  display: flex;
  height: 100%;
}

#containersPage{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
}

#containersList{
  list-style-type: none;
  border: 1px solid $containerBlue;
  padding: 20px;
  margin: 0 0 0 30px;
  border-radius: 5px;
  background-color: $containerBlue;
  width: 30%;
  text-align: center;
}

#containersList > li{
  margin: 0px;
 
}
.value{
  display: inline;
}


#actions{
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containers{
  margin: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 50%;
  align-items: flex-start;
}
#icons{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  border: 2px solid $containerBlue;
  padding: 20px;
  border-radius: 10%;
}

#icons > img {
  margin-bottom: 10px;
}

.containerTitle{
  margin-top: 30px;
}

.value{
  color: white;
}

#inactiveContainer{
  height: 50%;
}